<dl>
  <div class="flex justify-between">
    <dt>Raison Sociale</dt>
    <dd>{{ installation()?.raisonsociale }}</dd>
  </div>

  <div class="flex justify-between">
    <dt>Adresse</dt>
    <dd>{{ installation()?.adresse1 }}</dd>
  </div>

  <div class="flex justify-between">
    <dt>Code postal</dt>
    <dd>{{ installation()?.codepostal }}</dd>
  </div>

  <div class="flex justify-between">
    <dt>Ville</dt>
    <dd>{{ installation()?.commune }}</dd>
  </div>

  <div class="flex justify-between">
    <dt>Statut seveso</dt>
    <dd>{{ installation()?.statutseveso ?? '-' }}</dd>
  </div>

  <div class="flex justify-between">
    <dt>Etat Activité</dt>
    <dd>{{ installation()?.etatactivite ?? '-' }}</dd>
  </div>

  <div class="flex justify-between">
    <dt>Prorité nationale</dt>
    <dd>{{ installation()?.prioritenationale }}</dd>
  </div>
</dl>
