<section>
  <form [formGroup]="filterForm">
    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput formControlName="filter" placeholder="Ex. Mia">
    </mat-form-field>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="raisonsociale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison Sociale </th>
        <td mat-cell *matCellDef="let installation"> {{installation.raisonsociale}} </td>
      </ng-container>

      <ng-container matColumnDef="adresse1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
        <td mat-cell *matCellDef="let installation"> {{installation.adresse1}}% </td>
      </ng-container>

      <ng-container matColumnDef="codepostal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code postal </th>
        <td mat-cell *matCellDef="let installation"> {{installation.codepostal}} </td>
      </ng-container>

      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ville </th>
        <td mat-cell *matCellDef="let installation"> {{installation.commune}} </td>
      </ng-container>

      <ng-container matColumnDef="statutseveso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut seveso </th>
        <td mat-cell *matCellDef="let installation"> {{installation.statutseveso}} </td>
      </ng-container>

      <ng-container matColumnDef="etatactivite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat Activité </th>
        <td mat-cell *matCellDef="let installation"> {{installation.etatactivite}} </td>
      </ng-container>

      <ng-container matColumnDef="prioritenationale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prorité nationale </th>
        <td mat-cell *matCellDef="let installation"> {{installation.prioritenationale}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prorité nationale </th>
        <td mat-cell *matCellDef="let installation">
          <div class="flex space-x-3">
            <button mat-mini-fab aria-label="Consulter" (click)="openConsultationDialog(installation)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Modifier" (click)="openModificationDialog(installation)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
          <div class="flex justify-center items-center h-24">
            Aucune donnée ne correspond à la recherche "{{ filterForm.get('filter')?.value }}"
          </div>
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</section>
